
.main-printers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 18px;
}

.search-bar > input:focus {
    outline-color: var(--palette-D);
}

.glass:hover {
    cursor: pointer;
}
.glass{
   margin-bottom: 15px;
   background-color: transparent;
   width: 32px;
   height: 24px;
   margin-right: 30px;
   border-color:  var(--palette-D);
   border-radius: 3px;

}
.searchI{
    border-radius: 20px;
    line-height: 22px;
    text-align: center;
    border-color:  var(--palette-D);
    width: 250px;
    margin-right: 10px;
}
