@charset "UTF-8";

:root {
    --palette-A: #1D1E26;
    --palette-B: #202126;
    --palette-C: #737272;
    --palette-D: #889ABF;
    --palette-E: #1D1E2609;

    --header-div-width: 300px;
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body, html {
    height: 100%;
}