@charset "UTF-8";

body, .container-line, .formulary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-image {
    width: 400px;
}

.line {
    width: 1px;
    height: 300px;
    justify-content: center;
}

.formulary {
    padding: 10%;
    height: 100%;
    width: 400px;
}

.label-formulary {
    padding-top: 3px;
}

.input-formulary:focus {
    outline-color: rgba(0, 0, 0, 0.2);
    
}

.sub-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1px;
    font-size: 0.7em;
}

.sub-elements > *:hover {
    color: red;
}

.submit-btn {
    margin-top: 10px;
    width: 50%;
}

.submit-btn:hover {
    cursor: pointer;
}
