* {
    color: var(--palette-D);
}

main {
    background-color: var(--palette-B);
}

header {
    background-color: var(--palette-A);
}

.header-logo {
    padding: 5px 0px 0px 10px;
    width: var(--header-div-width);
}

.header-alert {
    width: 100%;
    gap: 20px;
}

.header-alert>div>div {
    width: 110%;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

.alert {
    color: #FFFFFF;
}

.badge {
    background-color: #FFFFFF;
    padding: 0px 4px 0px 4px;
    border-radius: 50%;
    color: var(--palette-D);
}

.header-user {
    width: var(--header-div-width);
    gap: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.header-user>.line>hr {
    border: none;
    width: 1px;
    height: 30px;
    background-color: var(--palette-D);
}

.triple-line-menu {
    padding-right: 15px;
}

#burguer{
    cursor: pointer;
}

.main-dashboard, .main-info, .historic, .main-slots {
    margin: 15px;
    padding: 10px;
    background-color: var(--palette-A);
    box-shadow: 0px 0px 2px var(--palette-D);
}

.info-group {
    color: var(--palette-C);
}

.info-data {
    margin-bottom: 10px;
    color: var(--palette-D);
}

.main-nav {
    border-bottom: 1px solid var(--palette-C);
    padding-top: 10px;
    margin: 0px 15px 0px 15px;
}

.dashboard-graphic {
    text-align: center;
    width: 50%;
}

.period-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graphic {
    margin-top: 10px;
}

.historic-table, th, td{
    border: 1px solid var(--palette-D);
    text-align: center;
    border-collapse: collapse;
    padding: 10px 0px 10px 0px;
}
.historic-table {
    width: 100%;
}

.graphic-nav-item {
    border: none;
    background-color: transparent;
    color: var(--palette-D);
}

.report-btn {
    margin-left: 20px;
    text-decoration: underline;
}

.actual {
    border-bottom: 2px solid var(--palette-D);
}

.main-info, .main-nav>nav {
    gap: 10%;
}

.graphic-nav-item :hover, .user-img:hover, .triple-line-menu:hover, .header-alert>div>div:hover, .graphic-nav-item {
    cursor: pointer;
}

.user-image, .dashboard-graphic, .triple-line-menu, .header-alert>div, .line, .header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, .main-nav>nav, .header-alert>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-user, .main-nav, .header-alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graphic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
}